/* NavBar.css */

.navbar {
  display: flex;
  align-items: center; /* Ensures vertical alignment */
  height: 60px; /* Set a fixed height for the navbar */
  background-color: #f8f9fa;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  height: 100%;
  display: flex;
  align-items: center; /* Vertically center the content */
}

.nav-link {
  font-size: 1.25rem;
  text-decoration: none;
  color: #000;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.navbar-links li {
  margin-left: 20px;
}
